<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
  <!-- This enables DPI-awareness which also fixes the blurry text,
       but it also breaks the anchors of the replay browser, so I have disabled it. -->
  <!--<System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>-->
</configuration>
